.idea
generated-src
node_modules

/packages/nebula-page-object/lib
/packages/nebula-page-object/src/test/spec/t020PageObjectGenerator/**/mySrc/**/index.js
/packages/nebula-page-object/src/test/spec/t020PageObjectGenerator/**/src/**/base.js
/packages/nebula-page-object/src/test/spec/t020PageObjectGenerator/**/src/**/index.js
