.widgetA,
.widgetB,
.widgetC,
.foo,
.bar {
  margin: 2px 0;
  padding: 2px 4px;
}

.widgetA,
.foo {
  background-color: aliceblue;
}

.widgetB,
.bar {
  background-color: bisque;
}

.widgetB--disabled {
  background-color: beige;
}

.widgetC {
  background-color: #e3fbd8;
}

.widgetB .widgetA,
.foo .bar {
  margin-left: 16px;
}
