.widgetA,
.widgetB,
.widgetC {
  margin: 4px 0;
  padding: 2px;
}

.widgetA {
  background-color: aliceblue;
}

.widgetB {
  background-color: bisque;
}

.widgetB--disabled {
  background-color: beige;
}

.widgetC {
  background-color: #e3fbd8;
}

.widgetB .widgetA {
  margin-left: 16px;
}
